
langchain==0.0.256
langchain-experimental==0.0.8
numpy==1.25.2
openai==0.27.8
pandas==2.0.3
streamlit==1.25.0
StrEnum==0.4.15
syncer==2.0.3
tenacity==8.2.2
termcolor==2.3.0
thinc==8.1.11
threadpoolctl==3.2.0
tiktoken==0.4.0